<!-- <app-cabecera>  </app-cabecera> -->

<body>
    <div>
      <p-toast key="msjDatos" position="top-right"></p-toast>
  
      <form [formGroup]="formRegistro">
        <div class="container-fluid">
          <label><b>Email</b></label>
          <label *ngIf="authService.isLoggedIn()" style="display: block;">{{this.formRegistro.value.usuario}}</label>
          <span class="ui-float-label" *ngIf="!authService.isLoggedIn()">
              <input id="usuario" formControlName="usuario" name="uname" type="text" pInputText required> 
              <label for="usuario">Ingresá tu correo</label>
          </span>
    
          <label *ngIf="!authService.isLoggedIn()"><b>Clave</b></label>
          <span class="ui-float-label" *ngIf="!authService.isLoggedIn()">
              <input id="clave" formControlName="clave" name="psw" type="password" [feedback]="false" pPassword required> 
              <label for="clave">Ingresá una clave</label>
          </span>
    
          <label *ngIf="!authService.isLoggedIn()"><b>Repita la clave</b></label>
          <span class="ui-float-label" *ngIf="!authService.isLoggedIn()">
              <input id="confirmaClave" formControlName="confirmaClave" name="psw-repeat" type="password" [feedback]="false" pPassword required> 
              <label for="confirmaClave">Volvé a ingresar la misma clave</label>
          </span>
    
          <label *ngIf="authService.isLoggedIn()"><b>Selecciona un sector</b></label>
          <p-listbox *ngIf="authService.isLoggedIn()" formControlName="sector" [options]="listaSectores"></p-listbox>
    
          <label><b>Selecciona un perfil</b></label>
          <p-listbox formControlName="perfil" [options]="perfiles"></p-listbox>
          <span class="ui-float-label" *ngIf="eligeSocio()">
              <input id="habilitaSocio" formControlName="habilitaSocio" name="pswSocio" type="password" [feedback]="false" pPassword> 
              <label for="habilitaSocio">Ingresá la clave para habilitar Socio</label>
          </span>
          
          <div *ngIf="!authService.isLoggedIn()">
            <label><b>Selecciona una imagen para el usuario</b></label>
          </div>
          <input *ngIf="!authService.isLoggedIn()" formControlName="imagen" type="file" name="img-file" accept="image/png" id="img-file">
  
          <div class="clearfix">
            <button *ngIf="authService.isLoggedIn()" type="button" (click)="usuariosService.muestraAbm=false" class="cancelbtn">Volver</button>
            <button *ngIf="!authService.isLoggedIn()" type="button" (click)="goBack()" class="cancelbtn">Volver</button>
            <button *ngIf="!authService.isLoggedIn()" type="button" (click)="registrar()" class="signupbtn">
              Registrarme
              <i class="fa fa-spinner fa-spin" *ngIf="getEnEspera()"></i>
            </button>
            <button *ngIf="authService.isLoggedIn()" type="button" (click)="actualizar()" class="signupbtn">
              Guardar
              <i class="fa fa-spinner fa-spin" *ngIf="getEnEspera()"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
</body>
